<div class="faq-item">
  <button class="faq-toggle">
    <span class="faq-question">{{pregunta}}</span>
    <span class="faq-plus">+</span>
  </button>
  <div class="faq-answer">
    <p>{{respuesta}}</p>
  </div>
</div>
