<div class="testimonios-grid">
    {{#each testimonios}}
    <div class="testimonios-card">
        <div class="testimonios-info">
            <h3>{{titulo}}</h3>
            <p>{{descripcion}}</p>
        </div>
    </div>
    {{/each}}
</div>